mixin custom-textarea(id, name, label, placeholder, required, error, isValid)
    +b.custom-textarea(class=isValid ? 'valid' : '')
        if (label)
            +e.LABEL.label(for=id)= label
                if (required)
                    span *
        if (required)
            +e.TEXTAREA.input(id=id name=name placeholder=placeholder required)&attributes(attributes)
        else
            +e.TEXTAREA.input(id=id name=name placeholder=placeholder)&attributes(attributes)
        if (error)
            +e.SPAN.error.error= error