mixin custom-checkbox(name, id, label, required)
    +b.custom-checkbox&attributes(attributes)
        +e.INPUT.input(type='checkbox' name=name id=id required=required)&attributes(attributes)
        +e.LABEL.label(for=id) !{label}